<div class="modal fade" id="popup_prognoza" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-szczegoly-szkolenia">Podaj nazwę miasta i liczbę dni</h4>
            </div>
            <div class="modal-body">
                miasto i liczba dni
{#                <p>{{ szkolenie.opis_szkolenia|linebreaksbr }}</p>#}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
            </div>
        </div>

    </div>
</div>