{% extends "weather/szablon.html" %}
{% load staticfiles %}
{% block title %}- pogoda dla miasta {% endblock %}
{% block jumbotron-title %}

    {% if bledne_dane %}
        Wprowadziłeś błędne dane. Spróbuj ponownie.
    {% else %}
        Pogoda dla współrzędnych (szerokość, długość): <b>{{ lat }},{{ lon }}</b>
    {% endif %}

{% endblock %}
{% block jumbotron-content %}
    {% if bledne_dane == False %}
        <div class="container">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Temperatura</th>
                    <th>Wilgotność</th>
                    <th>Zachmurzenie</th>
                    <th>Ciśnienie</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ temperatura }}°C</td>
                    <td>{{ wilgotnosc }}%</td>
                    <td>{{ zachmurzenie }}%</td>
                    <td>{{ cisnienie }}hPa</td>
                </tr>
                </tbody>
            </table>
        </div>
    {% endif %}
    {% include "weather/popup_miasto.html" %}
    {% include "weather/popup_wspolrzedne.html" %}

    <br/><br/>
    <button type="button" class="btn btn-primary"
            data-toggle="modal" data-target="#popup_miasto">Nazwa miasta
    </button>

    <button class="btn btn-primary"
            data-toggle="modal" data-target="#popup_wspolrzedne">Współrzędne
    </button>

{% endblock %}
